<% provide(:title, 'All users') %>
<div class="center hero-unit">
<h1> Users in the database </h1>
<%= will_paginate %>
<ul class="users">
  <% @users.each do |user| %>
    <li>
      <%= gravatar_for user %>
      <%= user.name %>
      <%= link_to "shorturl", user %>
      <%= "# friends"%>
    </li>
  <% end %>
</ul>
<%= will_paginate %>
</div>