<% provide(:title, 'Sign up') %>
<div class="center hero-unit">
<h1>Create Member</h1>
    <%= form_for(@user) do |f| %>
    <%= render 'shared/error_messages' %>
      <%= f.label :name %>
      <%= f.text_field :name %>

      <%= f.label :email %>
      <%= f.text_field :email %>
  </br>
      <%= f.submit "Create my account", class: "btn btn-large btn-primary" %>
    <% end %>

</div>
