<% provide(:title, @user.name) %>
<div class="center hero-unit">
<p><%= gravatar_for @user %><%= @user.name %>, <%= @user.email %></p>
<p> Friends numbers : <%= @user.friends_users.count %></p>
</div>
<div align="center">
<%= form_tag(user_path, method: "get", id: "search-form") do %>
<p>
	<p> Search your friend's email </p>
	<%= text_field_tag :search, params[:search] %>
	<%= submit_tag "Search", :name => nil %>
</p>
<% end %>
<% if @user_friend.present? %>
<%= button_to "Add #{@user_friend.email}", "/users/#{@user.id}_#{@user_friend.id}/friends", method: "get" %>
<% else %>
	<p> There are no user matching <%= params[:search] %>. </p>
<% end %>

<h1> Friends with <%= @user.name %></h1>

<% top_index = @all_friends.count-1 %>
<% 0.upto(top_index) do |i|%>
<%= render @all_friends[i] %>
<br><br><br><br><br><br> 
<% end %>

<br>


</div>