<% provide(:title, @user.name) %>
<div class="center hero-unit">
<p><%= gravatar_for @user %><%= @user.name %>, <%= @user.email %></p>
</div>
<div align="center">
<%= form_tag("/search", method: "get") do %>
  <%= label_tag(:q, "Type your friend's email:") %>
  <%= text_field_tag(:q) %>
  <%= submit_tag("Search") %>
<% end %>

<br>


</div>