<% provide(:title, @user.name) %>
<div class="center hero-unit">
<p><%= gravatar_for @user %><%= @user.name %>, <%= @user.email %></p>
<p> Friends numbers : </p>
</div>
<div align="center">
<%= form_tag(user_path, method: "get", id: "search-form") do %>
<p>
	<p> Search your friend's email </p>
	<%= text_field_tag :search, params[:search] %>
	<%= submit_tag "Search", :name => nil %>
</p>
<% end %>
<% if @user_friend.present? %>
<p> TO FIX, why @user_friend.name doesn't return Jambon Farcie? </p>
<%= link_to "Add #{render @user_friend} as a friend", '#', class: "btn btn-small btn-primary" %> 
<% else %>
	<p> There are no user matching <%= params[:search] %>. </p>
<% end %>

<br>


</div>